body {
	background-color: #000;
	margin: 0 auto;
}
.box_top {
	background-color: red;
	width: 30%;
}
#image img {
	position: relative;
	top: 30px;
	left: 30%;
	height: 400 px;
	border-radius: 15px;
	border: 4px solid #fff;
}
.box_about {
	background-color: #F4F7FA;
	width: 30%;
}